@font-face {
    font-family: starJediFont;
    src: url(fonts/Starjedi.ttf);
}

@font-face {
    font-family: starOutline;
    src: url(fonts/Starjout.ttf);
}

body {
    min-width: 850px;
}

h1, h2, #counter {
    font-family: 'starOutline', serif;
    text-align: center;
}

h1, h2 {
    color: rgba(58,75,91,1);
    text-shadow: 2px 5px rgba(195, 195, 195, 0.64);
}

#level, h2 {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.0; }
}

#game_wrapper {
    position: relative;
    width: 770px;
    min-height: 500px;
    background: url('imgs/starwarslogo.jpg') no-repeat fixed center;
    background-size: cover;
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
    margin: 0 auto;
}

#btn_wrapper {
    text-align: center;
}

button {
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
}

button > img, button > a > img {
    border: 3px inset #505254;
    border-radius: 5px;
}

a {
    cursor: inherit;
}

button, #board {
    cursor: url(imgs/lightsaber.png), auto;
}

button:focus {
    outline: none;
}

button:hover {
    opacity: 0.65;
}

.activeBtn {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    border: 2px solid #8E8E8E;
}

#board {
    margin-bottom: 25px;
}

.tile_border {
    width: 95px;
    height: 95px;
    margin: 15px;
    display: inline-flex;
    border-radius: 5px;
    border: 1px solid #8E8E8E;
    cursor: url(imgs/lightsaber.png), auto;
}

.tile_border.master {
    margin: 5px 15px;
}

.bkground, .img_tiles{
    width: 95px;
    height: 95px;
    border-radius: 5px;
}

.bkground {
    content: url('imgs/starwarsbkground.png');
    border-radius: 5px;
}

#counter {
    font-size: 30px;
    color: #ffe819;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

